.collection-page {
  display: flex;
  flex-direction: column;
  height: 90vw;

  .title {
    font-size: 2rem;
    text-align: center;
    margin: 2%;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1%;

    & .collection-item {
      margin-bottom: 3%;
      justify-self: center;
    }
  }
}
