body {
  font-family: "Courier New", Courier, monospace;
  padding-top: 5%;
  width: 90%;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 500px) {
  body {
    width: 80%;
  }
}
